.btn-check:checked + .btn-hover,
.btn-hover.active,
.btn-hover.show,
.btn-hover:first-child:active,
:not(.btn-check) + .btn-hover:active {
  color: #fff;
  background-color: #ff7810;
}

.btn-hover:hover {
  color: #fff;
  background-color: #ff7810;
}

.checkbox-color:checked {
  background-color: #ff7810;
  border-color: #ff7810;
  box-shadow: 0px 0px 10px #ff7810;
}
